body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container{
    display: flex;
    flex-direction: column;
    flex:1;
}

.main-container .navbar{
    justify-content: space-evenly;
}

.navbar{
    background-color: #EAE0D5;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 10px 40px;
    list-style: none;
    margin: 0;
    font-weight: bold;
}

.nav-links a{
    color: #22333B;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links a:hover{
    color: #4b7285;
    text-decoration: none;
}


.hero{
    background-color: #EAE0D5;
    
}

h1{
    font-weight: bold;
    text-transform: uppercase;
    color: #22333B;
}

.hero-container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
}

.hero p{
    flex: 1;
    max-width: 500px;
    text-align: left;
    margin: 0;
    line-height: 1.6;
    color:#353839;
}

.hero img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 10px 25px rgba(34, 51, 59, 0.3);
    border: 2px solid white;
}

.portfolio{
    background-color: #EAE0D5;
    padding: 50px 20px;
    flex-grow: 1;
}

.portfolio h2, .project h3, .project p{
    margin-bottom: 15px;
    
}

.portfolio h2, h3{
    text-transform: uppercase;
    color: #22333B;
}
.project-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 20px 0;
}

.project{
    background-color: rgb(243, 235, 225);
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s;
    transform-origin: center;
}

.project:hover{
    transform: scale(1.05);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    filter:brightness(1.03);
    z-index: 10;
}

.project img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.project h3, .project p{
    padding: 10px 15px;
    margin: 0;
}

.project p{
    color: #353839;
}

footer{
    background-color: #EAE0D5;
}

.footer-content{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    font-size: 0.9rem;
    color: #22333B;
}

.footer-right{
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer-right p{
    margin: 0;
    font-size: 0.9rem;
    align-items: center;
}
.footer-content a{
    color:#22333B;
    text-decoration: none;
}

.footer-content a:hover{
    color: #4b7285;
}

.social-links{
    display: flex;
    gap: 20px;
}

.social-links i{
    font-size: 1.5rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-links a:hover i{
    color: #4b7285;
    transform: translateY(-5px);
}

@media (max-width: 768px){

.hero-container{
    flex-direction: column;
    text-align: center;
}

.hero p{
    text-align: center;
}

.footer-content, .footer-right{
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.project-grid{
    flex-direction: column;
    align-items: center;
}

}